@* Versión 1.1 *@

@model WebApplication1.ViewModels.Account.CambioPasswordViewModel


<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header justify-content-end">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="far fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="pass-reset-img">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-unlock-alt fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <h3 class="text-center mb-4">Cambiar Contraseña</h3>
            @using (Ajax.BeginForm("CambioPassword", "Account", new AjaxOptions
            {
                OnBegin = "showLoaderButtonSubmitCambioPassword",
                OnSuccess = "hideLoaderButtonSubmitCambioPassword",
                OnComplete = "respuestaFormAjaxModalPassword"
            }))
            {
                @Html.AntiForgeryToken()

                <div class="form-row mb-3">
                    <div class="col">
                        @Html.PasswordFor(model => model.ClaveActual, new { @class = "form-control form-control-lg", type = "password", maxlength = "50", @placeholder = "\uf3c2   Contraseña Actual" })
                        @Html.ValidationMessageFor(model => model.ClaveActual, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        @Html.PasswordFor(model => model.ClaveNueva, new { @class = "form-control form-control-lg", type = "password", maxlength = "50", @placeholder = "\uf30d   Contraseña Nueva" })
                        @Html.ValidationMessageFor(model => model.ClaveNueva, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        @Html.PasswordFor(model => model.ClaveConfirmacion, new { @class = "form-control form-control-lg", type = "password", maxlength = "50", @placeholder = "\uf30d   Confirmar Contraseña Nueva" })
                        @Html.ValidationMessageFor(model => model.ClaveConfirmacion, null, new { @class = "text-danger" })
                        <div id="msg"></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-submit-cambio-password btn-lg btn-block">Guardar</button>
            }
        </div>
    </div>
</div>

@Scripts.Render("~/Plugins/jquery-validate")
<script src="~/Plugins/FoolProof/mvcfoolproof.unobtrusive.min.js"></script>