@* Versión 1.0 *@

@model WebApplication1.ViewModels.Account.RestablecerPasswordViewModel


<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header justify-content-end">
            <button type="button" class="close hover-white" data-dismiss="modal" aria-label="Close" onclick="borrarCampos()">
                <i class="far fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="pass-reset-img">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-unlock-alt fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <h3 class="text-center mb-4">Cambiar Contraseña</h3>
            @using (Ajax.BeginForm("RestablecerPassword", "Account", new AjaxOptions
            {
                OnBegin = "showLoaderButtonSubmitCambioPassword",
                OnSuccess = "hideLoaderButtonSubmitCambioPassword",
                OnComplete = "respuestaFormAjaxModalPassword"
            }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.RutRestablece)

                <div class="form-row mb-3">
                    <div class="col">
                        @Html.PasswordFor(model => model.ClaveNueva, new { @class = "form-control form-control-lg", type = "password", maxlength = "50", @placeholder = "Contraseña Nueva", id = "clave1" })
                        @Html.ValidationMessageFor(model => model.ClaveNueva, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        @Html.PasswordFor(model => model.ClaveConfirmacion, new { @class = "form-control form-control-lg", type = "password", maxlength = "50", @placeholder = "Confirmar Contraseña Nueva", id = "clave2" })
                        @Html.ValidationMessageFor(model => model.ClaveConfirmacion, null, new { @class = "text-danger" })
                        <div id="msg"></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-submit-cambio-password btn-lg btn-block">Guardar</button>
            }
        </div>
    </div>
</div>

<script>
    function borrarCampos() {
        $("#clave1").val("");
        $("#clave2").val("");
    }
</script>