@model ConductorEnRed.ViewModels.Mantenedores.VM_RegistroVueltas
@{
    ViewBag.Title = "_EditarVuelta";
}

<style>
    .borderInput {
        margin: 10px;
    }

    .divFlot {
        text-align: right
    }
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Editar Vuelta</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Editar Vuelta</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="jombotron">
    <div class="flex-fill">
        <div class="panel">
            <div class="card">
                <div class="form-row">
                    <div class="modal-body">
                        <div class="modal-title">
                            <h4>Editar Vuelta Ingresada</h4>
                        </div>
                        <div class="form-row">
                            <div class="form-row form-group col-12">
                                
                                <input id="lblIdVueltaEdit" value="@Model.ID_REGISTRO_VUELTAS" style="display:none"/>

                                <div class="col-md-6">
                                    <span>Sentido inicio</span>
                                    <select class="form-control cmbSent" value="@Model.ID_SENTIDO_INICIO" id="cmbSentidoInicio"></select>
                                </div>
                                <div class="col-md-6">
                                    <span>Hora de Inicio</span>
                                    <input type="time" class="form-control" value="@Model.HORA_INICIO" placeholder="HH:MM" maxlength="5" id="txtIniVuelta" />
                                </div>
                            </div>
                            <div class="form-row form-group col-12">
                                <div class="col-md-6">
                                    <span>Terminal de inicio</span>
                                    <select class="form-control cmbTer" value="@Model.ID_TERMINAL_INICIO" id="cmbTerminalIniVuelta"></select>

                                </div>
                                <div class="col-md-6">
                                    <span>Servicio Inicio</span>
                                    <select class="form-control cmbSer" value="@Model.ID_SERVICIO" id="cmbServicioInicio"></select>
                                </div>
                            </div>
                            <div class="form-row form-group col-12">
                                <div class="col-md-6">
                                    <span>Bus Inicio</span>
                                    <select class="form-control cmbBus" value="@Model.ID_BUS_INICIO" id="cmbBusInicio"></select>
                                </div>
                            </div>

                            <div class="form-row form-group col-12">
                                <div class="col-md-6">
                                    <span>Sentido llegada</span>
                                    <select class="form-control cmbSent" value="@Model.ID_SENTIDO_INICIO" id="cmbSentidoFin"></select>
                                </div>
                                <div class="col-md-6">
                                    <span>Hora de llegada</span>
                                    <input type="time" placeholder="HH:MM" value="@Model.HORA_FIN" maxlength="5" class="form-control" id="txtFinVuelta" />
                                </div>
                            </div>
                            <div class="form-row form-group col-12">
                                <div class="col-6">
                                    <span>Terminal llegada</span>
                                    <select class="form-control cmbTer" value="@Model.ID_TERMINAL_FIN" id="cmbTerminalFinVuelta"></select>
                                </div>
                                <div class="col-md-6">
                                    <span>Servicio llegada</span>
                                    <select class="form-control cmbSer" value="@Model.ID_SERVICIO" id="cmbServicioFin"></select>
                                </div>
                            </div>
                            <div class="form-row form-group col-12">
                                <div class="col-md-6">
                                    <span>Bus Fin</span>
                                    <select class="form-control cmbBus" value="@Model.ID_BUS_FIN" id="cmbBusFin"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="borderInput">
                        <div class="divFlot">
                            <button id="btnSalir" type="button" onclick="Limpiar();" class="btn btn-outline-light">Cancelar</button>
                        </div>
                    </div>
                    <div class="borderInput">
                        <div class="divFlot">
                            <button id="btnRegistrarIniVuelta" class="btn btn-success borderInput" onclick="ShowConfitmarEditVuelta();"><i class="fa fa-edit"></i>Guradar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-title">
                <div class="text-center">
                    <h3>¡Confirmar acción!</h3>
                </div>
            </div>
            <div class="modal-body">
                <label>¿Está seguro que desea editar la vuelta?</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" id="btnCancela" onclick="CerrarModal();">Cancelar</button>
                <button type="button" class="btn btn-success" id="btnGuardad" onclick="RegistrarIdicionVuelta();"><i class="fas fa-check"></i> Confirmar</button>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        var tblRuta;

        $(document).ready(function () {
            CargarCmb();
        });

        function CargarCmb() {
            $.ajax({
                url: '../Mantenedor/GetCargarTerminalesCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionTer = $(document.createElement('option'));
                        optionTer.val(data.data[i]["ID_TERMINAL"]);
                        optionTer.text(data.data[i]["NOMBRE_TERMINAL"]);

                        $(".cmbTer").append(optionTer);
                    }
                }
            });

            $.ajax({
                url: '../Mantenedor/GetSentidoCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionSent = $(document.createElement('option'));
                        optionSent.val(data.data[i]["ID_SENTIDO"]);
                        optionSent.text(data.data[i]["NOMBRE_SENTIDO"]);

                        $(".cmbSent").append(optionSent);
                    }
                }
            });

            $.ajax({
                url: '../Mantenedor/GetServiciosActivosCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionSent = $(document.createElement('option'));
                        optionSent.val(data.data[i]["ID_SERVICIO"]);
                        optionSent.text(data.data[i]["NOMBRE_SERVICIO"]);

                        $(".cmbSer").append(optionSent);
                    }
                }
            });

            $.ajax({
                url: '../Mantenedor/GetBusesActivosCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionSent = $(document.createElement('option'));
                        optionSent.val(data.data[i]["ID_BUS"]);
                        optionSent.text(data.data[i]["NOMBRE_TERMINAL"]);

                        $(".cmbBus").append(optionSent);
                    }
                }
            });

            $.ajax({
                url: '../Reprogramacion/GetCargarTunosDisponiblesCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionSent = $(document.createElement('option'));
                        optionSent.val(data.data[i]["ID_HORARIO"]);
                        optionSent.text(data.data[i]["HORA_INICIO"]);

                        $("#cmbTurnosDisponibles").append(optionSent);
                    }
                }
            });
        }

        function ShowConfitmarEditVuelta(idVuelta) {
            $("#modalConfirmacion").modal("show");
        }

        function RegistrarIdicionVuelta() {
            var vuelta = [
                {
                    ID_REGISTRO_VUELTAS: $("#lblIdVueltaEdit").val(),
                    HORA_INICIO: $("#txtIniVuelta").val(),
                    ID_BUS_INICIO: $("#cmbBusInicio option:selected").val(),
                    ID_SERVICIO_INICIO: $("#cmbServicioInicio option:selected").val(),
                    ID_SENTIDO_INICIO: $("#cmbSentidoInicio").val(),
                    ID_TERMINAL_INICIO: $("#cmbTerminalIniVuelta option:selected").val(),
                    HORA_FIN: $("#txtFinVuelta").val(),
                    ID_BUS_FIN: $("#cmbBusFin  option:selected").val(),
                    ID_SERVICIO_FIN: $("#cmbServicioFin option:selected").val(),
                    ID_SENTIDO_FIN: $("#cmbSentidoFin option:selected").val(),
                    ID_TERMINAL_FIN: $("#cmbTerminalFinVuelta option:selected").val(),
                },
            ]

            $.ajax({
                url: '../Mantenedor/SetRegistroEdicionVuelta',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    Vueltas: vuelta,
                },
                success: function (data) {
                    if (data.Data.alert != '') {
                        alertSuccess(data.Data.message);

                        CerrarModal();

                        setTimeout(function () {
                            window.location.href = "/RedirectVistas/HomeRuta"
                        }, 3000);
                    }
                }
            });
        }

        function CerrarModal() {
            $("#modalConfirmacion").modal("hide");
        }

    </script>
}