
@{
    ViewBag.Title = "Solicitudes";
}

<style>
    .borderInput {
        margin: 10px;
    }

    .divFlot {
        text-align: right
    }

    
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Solicitudes</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Mi horario</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Solicitudes</a></li>
            </ol>
        </nav>
    </div>
</div>


<div class="flex-fill">
    <div class="card">
        <div class="modal-title text-center">
            <h3 class="text-success">Solicitudes</h3>
        </div>
        <br />
        <div class="modal-body">
            <div class="row align-items-center">
                <input value="@Model.ID_HORARIO" id="lblIdHorario" style="display:none" />
                <span>Yo </span>
                <span id="lblNom">&nbsp @Model.NOMBRE @Model.SEGUNDO_NOMBRE @Model.APELLIDO_PATERNO @Model.APELLIDO_MATERNO &nbsp</span>

                <span>R.U.N. </span>
                <span id="lblRut">&nbsp @Model.RUT &nbsp</span>

                <span>con fecha</span>
                <span id="lblFechaHoy">&nbsp @Model.FECHA_INICIO &nbsp</span>

                <span>y hora</span>
                <span id="idHoraActual">&nbsp @Model.HORA_INICIO</span>.&nbsp

                <span> Por medio del presente solicito </span>&nbsp

                <select id="cmbTipoSolicitud" class="form-control col-4"></select>

                <span>Realizo esta solicitud debido a los <b>motivos</b> que considero de <b>fuerza mayor</b> y que paso a señalar a continuación:</span>

                <textarea class="form-control" row="10" style="height:100px" maxlength="500" id="txtMotivoCambio" placeholder="A continuación, describa los motivos de la solicitud..."></textarea>

            </div>
        </div>
        <div class="col-md-12">
            <textarea class="form-control" row="10" style="height:100px" maxlength="500" id="txtMotivoOpcional" placeholder="Si desea agregar algún antecedente, describalo aquí, por ejemplo: Si coordinó con otro conductor el intercambiar jornada"></textarea>
        </div>
        <br />
        <div class="modal-body" style="font-size:15px">
            <span class="text-danger"><b>Importante:</b></span>
            <p class="text-primary" style="font-size:12px">
                Para asegurar que esta solicitud sea de carácter reservado, el equipo de <b>Conductor en RED ha cifrado la solicitud</b> y solo puede ser leída
                por el destinatario; nadie del equipo de Conductor en RED puede leer, modificar o reenviar esta solicitud. <b class="text-primary">¡Su privacidad es lo más importante!</b>
            </p>
        </div>
        <div class="modal-body">
            <span><b>Antecedentes del día solicitado que implica el cambio</b></span>
            <div class="form-row form-group col-12">
                <div class="form-row borderInput">
                    <label>Terminal de inicio</label>
                    <input class="form-control" style="opacity:1" id="lblTerminalInicio" readonly value="@Model.NOMBRE_TERMINAL" />
                </div>
                <div class="form-row borderInput">
                    <label>Fecha y hora de inicio</label>
                    <input class="form-control" style="opacity:1" id="lblFechaYhora" readonly value="@Model.FECHA_HORA_INICIO" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-light" onclick="Volver();" id="btnCancelar">Cancelar</button>
            <button class="btn btn-success" onclick="ShowEnviarSolictud();">Enviar Solicitud</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-title">
                <div class="text-center">
                    <h3 class="text-primary"><i class="far fa fa-info"></i> Información</h3>
                </div>
            </div>
            <div class="modal-body">
                <span>¿Está seguro de ingresar esta solicitud?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" id="btnCancela" onclick="CerrarModal();">Cancelar</button>
                <button type="button" class="btn btn-success" id="btnEliminar" onclick="GuardarSolicitud();"><i class="fas fa-check"></i> Confirmar</button>
            </div>
        </div>
    </div>
</div>




@section scripts
    {
    <script>
        var tblRuta;

        $(document).ready(function () {
            CargarCmb();

        });

        function CargarCmb() {
            $.ajax({
                url: '../HorarioConductor/GetTipoSolicitudesCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var option = $(document.createElement('option'));
                        option.val(data.data[i]["ID_TIPO_SOLICITUD"]);
                        option.text(data.data[i]["NOMBRE_SOLICITUD"]);

                        $("#cmbTipoSolicitud").append(option);
                    }
                }
            });
        }

        function CerrarModal() {
            $("#modalConfirmacion").modal("hide");
        }

        function Volver() {
            $("#lblIdHorario").val("");
            $("#cmbTipoSolicitud option:selected").val("");
            $("#txtMotivoCambio").val("");
            window.location.href = "/RedirectVistas/HomeVerHorario"
        }

        function ShowEnviarSolictud() {
            $("#modalConfirmacion").modal("show");
        }

        function GuardarSolicitud() {
            let idHorarioCambiar = $("#lblIdHorario").val();
            let tipoSolicitud = $("#cmbTipoSolicitud option:selected").val();
            let motivoSolictud = $("#txtMotivoCambio").val();

            let motivoOpcional = "";
            motivoOpcional = $("#txtMotivoOpcional").text();

            $.ajax({
                url: '../HorarioConductor/SetIngresarSolictud',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    "idHorarioCambiar": idHorarioCambiar,
                    "tipoSolicitud": tipoSolicitud,
                    "motivoSolictud":motivoSolictud,
                    "motivoOpcional": motivoOpcional
                },
                success: function (data) {
                    if (data.Data.alert != '') {
                        alertSuccess(data.Data.message)

                        CerrarModal();

                        $("#txtMotivoCambio").val("");
                        $("#txtMotivoOpcional").val("");
                        $("#lblNom").val("");
                        $("#lblRut").val("");
                        $("#lblFechaHoy").val("");
                        $("#idHoraActual").val("");
                        $("#lblTerminalInicio").val("");
                        $("#lblFechaYhora").val("");

                        $("#cmbTipoSolicitud option").attr("selected", false);

                        $("cmbTipoSolicitud option[value='" + 0 + "']").attr("selected", "selected");
                        
                        setTimeout(function () {
                            window.location.href = "/RedirectVistas/HomeVerHorario"
                        }, 3000);
                    }
                }
            });

        }

    </script>
}