@model ConductorEnRed.ViewModels.Administracion.VM_Usuario
@{
    ViewBag.Title = "EditarUsuario";
}

<style>
    .borderInput {
        margin: 10px;
    }

    .borderInput2 {
        align-content: center;
    }

    .divFlot {
        text-align: right
    }
</style>

<div class="page-title">
    <div class="content-title">
        <h3>Usuario</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Usuario</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="flex-fill">
        <div class="col-12">
            <div class="form-row">
                <div class="col-sm-3 form-group">
                    <label for="Numero">Nombre</label>
                    <input id="txtNombre" type="text" name="Numero" value="@Model.NOMBRE" placeholder="Nombre" class="form-control" />
                    <input id="idUsuario" value="@Model.ID_USUARIO" style="display:none"/>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="Direcccion">Segundo Nombre</label>
                        <input id="txtSegNombre" type="text" name="segNombre" value="@Model.SEGUNDO_NOMBRE" placeholder="Segundo Nombre" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="Direcccion">Apellido Paterno</label>
                        <input id="txtApePater" type="text" name="segNombre" value="@Model.APELLIDO_PATERNO" placeholder="Apellido Paterno" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="ApeMate">Apellido Marterno</label>
                        <input id="txtApeMate" type="text" name="ApeMate" value="@Model.APELLIDO_MATERNO" placeholder="Apellido Materno" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-row">
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="rut">R.U.N.</label>
                        <input id="txtRut" type="text" name="rut" value="@Model.RUT" placeholder="R.U.N." class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group">
                        <label for="CodigoBarra">Codigo de Barra</label>
                        <input id="txtCodigoBarra" type="text" name="CodigoBarra" value="@Model.CODIGO_BARRA" placeholder="Codigo de Barra" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group">
                        <label for="Comuna">Comuna</label>
                        <select id="cmbComuna" type="text" name="Comuna" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-row">
                <div class="col-sm-3 form-group">
                    <div class="form-group">
                        <label for="TipoContrato">Tipo Contrato</label>
                        <select id="cmbTipoContrato" type="text" name="TipoContrato" class="form-control"></select>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="correo">Correo</label>
                        <input id="txtCorreo" type="email" name="correo" value="@Model.CORREO" placeholder="ejemplo@ejemplo.cl" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="correoAlt">Correo Alternativo</label>
                        <input id="txtCorreoAlt" type="email" name="correoAlt" value="@Model.CORREO_ALTERNATIVO" placeholder="ejemplo@ejemplo.cl" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group">
                        <div class="input-group">
                            <label>Cambio Password</label>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text pr-01"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" class="form-control dateinput opacity-1" id="txtFechaVencePass" name="FechaVencePass" autocomplete="off" required readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-row">
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="txtClave">Clave</label>
                        <input id="txtClave" type="password" name="Clave" autocomplete="off" placeholder="Clave" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div class="form-group ">
                        <label for="repClave">Repita Clave</label>
                        <input id="txtRepClave" type="password" name="repClave" autocomplete="off" placeholder="Repita Clave" class="form-control" />
                    </div>

                </div>
            </div>
            <div class="col-sm-3 form-group">
                <div class="form-row">
                    <div class="custom-control custom-switch">
                        <i class="far fa-info-circle text-primary mr-2 align-self-center" data-toggle="tooltip" data-placement="left" title="Seleccionar casilla para asignar permisos administrador"></i>
                        <input id="chkAdmin" type="checkbox" />
                        <label for="correoAlte">Administrador</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 ">
        <div class="form-group text-right">
            <button type="button" class="btn btn-outline-light" onclick="volver();"><i class="fas fa-caret-left"></i> Volver</button>
            <button type="button" class="btn btn-success" id="btnGuardarNuevo" onclick="ShowEditarUsuario();"><i class="fas fa-edit"></i> Guardar</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow">
            <div class="modal-title">
                <div class="text-center">
                    <h3>¡Confirmar acción!</h3>
                </div>
            </div>
            <div class="modal-body">
                <label>¿Está seguro que desea editar los datos del usuario? Esta acción no se podrá desacer.</label>
            </div>
            <label id="idTerEliminar" style="display:none"></label>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" id="btnCancela" onclick="CerrarModal();">Cancelar</button>
                <button type="button" class="btn btn-success" id="btnConfirmar" onclick="GuardarEdicionUsuario();"><i class="fas fa-check"></i> Confirmar</button>
            </div>
        </div>
    </div>
</div>


@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".ocultar").css("display", "none");
            CargarCmb();
        });

        function CargarCmb() {
            $.ajax({
                url: '../Mantenedor/GetComunasCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionCom = $(document.createElement('option'));
                        optionCom.val(data.data[i]["ID_COMUNA"]);
                        optionCom.text(data.data[i]["NOMBRE_COMUNA"]);

                        $("#cmbComuna").append(optionCom);
                    }
                }
            });

            $.ajax({
                url: '../MantenedorUsuario/GetTipoContratoCmb',
                type: 'post',
                datatype: 'json',
                async: false,
                data: null,
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        var optionCon = $(document.createElement('option'));
                        optionCon.val(data.data[i]["ID_TIPO_CONTRATO"]);
                        optionCon.text(data.data[i]["NOMBRE_TIPO_CONTRATO"]);

                        $("#cmbTipoContrato").append(optionCon);
                    }
                }
            });

        }

        function ShowEditarUsuario() {
            $("#modalConfirmacion").modal("show");

        }

        function GuardarEdicionUsuario() {
            let idComuna = $("#cmbComuna option:selected").val();
            let idTipoContrato = $("#cmbTipoContrato option:selected").val();
            let perfil = $("#cmbPerfil option:selected").val();
            let clave = $("#txtClave").val();
            let repClave = $("#txtRepClave").val();
            let correo = $("#txtCorreo").val();
            let correoAlternativo = $("#txtCorreoAlt").val();
            let codigoBarra = $("#txtCodigoBarra").val();
            let rut = $("#txtRut").val();
            let nombre = $("#txtNombre").val();
            let segundoNombre = $("#txtSegNombre").val();
            let apllidoPaterno = $("#txtApePater").val();
            let apellidoMaterno = $("#txtApeMate").val();
            let cambioPassword = $("#txtFechaVencePass").val();
            let idUsuario = $("#idUsuario").val();
            let administrador = $("#chkAdmin").is(":checked");

            var respuesta = ValidacionesGenerales(nombre, apllidoPaterno, apellidoMaterno, rut, idTipoContrato,
                correo, correoAlternativo, perfil, idComuna, clave, repClave);

            var Usuario = [
                {
                    ID_USUARIO :idUsuario,
                    ID_COMUNA: idComuna,
                    ID_TIPO_CONTRATO: idTipoContrato,
                    CLAVE: clave,
                    REPETIR_CLAVE: repClave,
                    CORREO: correo,
                    ID_PERFIL: perfil,
                    CORREO_ALTERNATIVO: correoAlternativo,
                    CODIGO_BARRA: codigoBarra,
                    RUT: rut,
                    NOMBRE: nombre,
                    SEGUNDO_NOMBRE: segundoNombre,
                    APELLIDO_PATERNO: apllidoPaterno,
                    APELLIDO_MATERNO: apellidoMaterno,
                    CAMBIO_PASSWORD: cambioPassword,
                    ADMINISTRADOR: administrador
                }
            ]

            $.ajax({
                url: '../MantenedorUsuario/SetEditaUsuario',
                type: 'post',
                datatype: 'json',
                async: false,
                data: {
                    Usuario: Usuario
                },
                success: function (data) {
                    if (data.Data.alert != '') {
                        alertSuccess(data.Data.message)

                        Limpiar();
                    }
                }
            });
        }

        function CerrarModal() {
            $("#modalConfirmacion").modal("hide");
        }

        function Limpiar() {
            $("#cmbComuna option").attr("selected", false);
            $("#cmbComuna option[value='" + 0 + "']").attr("selected", "selected");

            $("#cmbTipoContrato option").attr("selected", false);
            $("#cmbTipoContrato option[value='" + 0 + "']").attr("selected", "selected");

            $("#txtNombre").val("");
            $("#txtSegNombre").val("");
            $("#txtApePater").val("");
            $("#txtApeMate").val("");
            $("#txtRut").val("");
            $("#txtDireccion").val("");
            $("#txtCodigoBarra").val("");
            $("#txtCorreo").val("");
            $("#txtCorreoAlt").val("");
            $("#txtDireccion").val("");
            $("#txtClave").val("");
            $("#txtRepClave").val("");
            $("#txtFechaVencePass").val("");

            setTimeout(function () {
                window.location.href = "/RedirectVistas/HomeUsuario"
            }, 3000);
        }

        function volver() {
            setTimeout(function () {
                window.location.href = "/RedirectVistas/HomeUsuario"
            }, 10);
        }

        function CamelCase(texto) {
            var mayuscula = "";
            var minuscula = "";
            var palabra = "";

            palabra = texto.value;

            if (!texto.value) return;

            mayuscula = palabra.substring(0, 1).toUpperCase();

            if (palabra.length > 0)
                minuscula = palabra.substring(1).toLowerCase();

            document.getElementById(texto.id).value = mayuscula.concat(minuscula);

        }

        function LowerCase(texto) {
            var minuscula = "";
            var palabra = "";

            palabra = texto.value;
            if (!texto.value) return;

            if (palabra.length > 0)
                minuscula = palabra.toLowerCase();

            document.getElementById(texto.id).value = minuscula;

        }

        function onBlurRut(texto) {
            var rut = texto.value;

            if (rut != "") {
                $.ajax({
                    url: '../MantenedorUsuario/ValidarRutCompleto',
                    type: 'post',
                    datatype: 'json',
                    async: false,
                    data: {
                        "rut": rut
                    },
                    success: function (data) {
                        if (data.Data.message != "") {
                            document.getElementById(texto.id).value = data.Data.data;
                        } else {
                            alertDanger(data.Data.data);
                            document.getElementById(texto.id).focus();
                        }

                    }
                });
            }

        }

        function onBlurClave(texto) {
            var claveRepetida = texto.value;
            var clave = $("#txtClave").val();

            if (clave != claveRepetida) {
                alertDanger("Las claves ingresadas no coinciden")
            }
        }

        function VerClave() {
            var className = $("#icon").attr('class');

            if (className == "fa fa-eye-slash") {
                $("#txtClave").attr('type', 'text');
                $("#icon").removeClass("fa fa-eye-slash");
                $("#icon").addClass("fa fa-eye");
            } else {
                $("#txtClave").attr('type', 'password');
                $("#icon").removeClass("fa fa-eye");
                $("#icon").addClass("fa fa-eye-slash");
            }

        }

        function VerClaveRep() {
            var className = $("#iconRep").attr('class');

            if (className == "fa fa-eye-slash") {
                $("#txtRepClave").attr('type', 'text');
                $("#iconRep").removeClass("fa fa-eye-slash");
                $("#iconRep").addClass("fa fa-eye");
            } else {
                $("#txtRepClave").attr('type', 'password');
                $("#iconRep").removeClass("fa fa-eye");
                $("#iconRep").addClass("fa fa-eye-slash");
            }

        }

        function ValidacionesGenerales(nombre, apllidoPaterno, apellidoMaterno, rut, idTipoContrato,
            correo, correoAlternativo, perfil, idComuna, clave, repClave) {

            if (nombre == undefined || nombre == "" || nombre.length < 3 || nombre == null)
                return "Debe ingresar un nombre para continuar";

            if (apllidoPaterno == undefined || apllidoPaterno == "" || apllidoPaterno.length < 2 || apllidoPaterno == null)
                return "Debe ingresar el primer apellido para continuar";

            if (apellidoMaterno == undefined || apellidoMaterno == "" || apellidoMaterno.length < 3 || apellidoMaterno == null)
                return "Debe ingresar el segundo apellido para continuar";

            if (rut == undefined || rut == "" || rut.length < 3 || rut == null)
                return "Debe ingrese un R.U.N. para continuar";

            if (idComuna == 0)
                return "Debe seleccionar una comuna para continuar";

            if (idTipoContrato == 0)
                mensaje = "Ingrese un tipo de contrato para continuar";

            if (perfil == 0)
                return "Ingrese un perfíl para continuar";

            if (correo == undefined || correo == "" || correo.length < 3 || correo == null)
                return "Ingrese un correo para continuar";

            if (correoAlternativo == undefined || correoAlternativo == "" || correoAlternativo.length < 3 || correoAlternativo == null)
                mensaje = "Ingrese un correo alternativo para continuar";

            if (clave == undefined || clave == "" || clave.length < 3 || clave == null)
                return "Ingrese una clave para continuar";

            if (repClave == undefined || repClave == "" || repClave.length < 3 || repClave == null)
                return "Debe repetit la clave para continuar";

            return "";
        }

    </script>
}